.input {
  display: flex;
  gap: 1rem;
  background-color: var(--clr-white);
  padding: 0.9rem 1.2rem;
  border-radius: 0.5rem;
  align-items: center;
  position: relative;
}
.input input {
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--clr-dark-gray-blue);
  margin-top: 3px;
  background-color: inherit;
  width: 100%;
  padding: 0.3rem;
  border-radius: 10px;
}
.input input::placeholder {
  color: var(--clr-dark-gray-blue);
}

.container-error {
  display: none;
  position: absolute;
  top: 1rem;
  right: 4rem;
}

.container-error.error {
  color: red;
  text-align: center;
  padding: 0;
  margin-top: -12px;
  display: block;
}
